@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
:root{
    --dark-blue:#211C6A;
    --light-blue:#59B4C3;
    --white:#FFFFFF;
    --coral-pink:#F88379;
}
*{
    box-sizing: border-box;
}

/* header section starts */
header{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 70px;
    position:fixed;
    top:0;
    margin-left: -7px;
    background-color: var(--white);
}
.logo{
    margin-top: 8px;
}
.headerleft{
    display: flex;
    gap: 30px;
    margin-left:6px;
}
.headerright{
    display: flex;
    gap: 10px;
    margin-right: 25px;
}
.hmargin{
    margin-top: 20px;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    list-style: none;
}
nav > ul > li {
    color:var(--dark-blue);
    margin: 0 0.2rem;
    margin-right: 10px;
    padding: 0.2rem;
    display: block;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--dark-blue);
    font-family: Tahoma, sans-serifs;
}
#searchbox{
    margin-right:30px;
    width:300px;
    padding:8px 19px;
    margin-top: -2px;
    border-width: 0.001px;   
    border-radius: 6px;
}
.hbutton{
    white-space: nowrap;
    padding:8px 19px;
    border-radius: 6px;
    border-width: 0.01px;

}
.login{
    background-color: var(--white);
    color:var(--dark-blue)
}
.register{
    background-color: var(--dark-blue);
    color:var(--white);
}
.projcard{
    width: 300px;
    height: 300px;
    border:1px solid  rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    
}
.projcard img{
    margin-top: 8px;
}

.projdivider{
    margin-top: 50px;
    margin-bottom: 50px;
}

.myproj{
    border:1px solid gray;
    height: 150px;
    margin: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    border-radius: 8px;
}
.myproj img{
    min-width: 300px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

h1,h2,h3,h4,h5{
    margin-left: 20px;
    margin-bottom: 0;
}
.myproj>div>h4{
    color: var(--coral-pink);
}

.projcard >form>h4{
    color: var(--dark-blue);
    margin-top: 25px;
}
.projcard >form> .hfield{
   margin-top: 10px;
   color: black;
}
.projcard >form>h5{
    margin-top: -2px;
    color:var(--coral-pink);
    padding-bottom: 5px;
}

.otherproj{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pbutton{
    width:50px;
    margin-top: auto;
    margin-left:220px;
    white-space: nowrap;
    border-radius: 6px;
    border-width: 0.01px;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 4px 2px;
}