<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="css/project.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <header>
            <div class="headerleft">
                <div class="logo"><img id="logo" src="img\logo.png"></div>
                <div class="headernav hmargin">
                    <nav>
                        <ul>
                             <li><a href="home1.php" class="h_anchor">Home</a></li>
                             <li><a href="project.php" class="h_anchor">Projects</a></li>
                             <li><a href="collab.php" class="h_anchor">Collaborate</a></li>
                             <li><a href="host.php" class="h_anchor">Host</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="headerright hmargin">
                <div>
                    <input type="search" name="" placeholder="Search here..." id="searchbox">
                </div>
                 <div><button id="user" class="hbutton user">U</button></div>
            </div>
        </header>
        <main>
            <!-- projects -->
        <section>
            <div class="projects">
               
                <div class="myproject">
                    <h1>My projects</h1> 
                    <div>
                            <div  class="mproj1 myproj">
                                <div>
                                    <h2> <a href="">frontend development</a></h2>
                                     <h3>to build a front end project</h3>
                                     <h4>Deadline - </h4>
                                </div>
                                

                                <div><img src="img\homeimage.png" alt=""></div>
                            </div>
                      
                    </div>
                   <div>
                   
                        <div  class="mproj1 myproj">
                            <h2> <a href="">Machine learning</a></h2>
                            <div><img src="img\homeimage.png" alt=""></div>
                        </div>
                  
                   </div>
                   
                </div>
                <hr class="projdivider">
                <h2>Explore</h2>
                <div class="otherproj">
                    <a href="">
                            <div class="proj1 projcard">
                                <div class="projimg">
                                    <img src="img\homeimage.png" alt="proj1">
                                    <div class="projdesc">
                                        <h4>EDA of Iris Dataset</h4>
                                    </div>
                                </div>
                            </div>
                    </a>
                    <a href="">
                        <div class="proj2 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="proj3 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>   
                                </div>
                            </div>
                        </div>
                    </a> 
                    <a href="">
                        <div class="proj4 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>  
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="proj4 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>  
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="proj4 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>  
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="proj4 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>  
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="proj4 projcard">
                            <div class="projimg">
                                <img src="img\homeimage.png" alt="proj1">
                                <div class="projdesc">
                                    <h4>EDA of Iris Dataset</h4>  
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
                
            </div>
           
         
        </section>
        </main>
    </body>

</html>