<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Home | Unilink</title>
        <link rel="stylesheet" href="css/register.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <h1>Register</h1>
        <div class="box">
            <form class="" method="post" autocomplete="off">
                <div><label for="Email" class="lemail">EMAIL<input id="Email" name="Email" type="email" placeholder="Enter your email" required/></label></div>
                <div><label for="Username" class="luname">User Name<input id="Usernamee" name="Usernamee" type="text" placeholder="Enter your username" required/></label></div>
                <div><label for="Password" class="lpassword">Password<input id="Password" name="Password" type="password" placeholder="Enter your password"  required/></label></div>
                <div class="from-group margin-top20">
                    <button type="submit" id="ex3" name="register" class="btn-primary">Register</button>
        </div>
         
        </div>
         </form>
    </body>
</html>